@import '../App.scss';

/* todo list styles */

.todo-main-container {
    background-color: $white;
    padding-top: 50px;
    height: 100vh;

    .todo-list-wrapper {
        background-color: $white;
        border: 1px solid $light-gray;
        margin: auto;
        width: 60%;

        .tooo-list-header {
            padding: 0px 0px 20px 30px;
            border-bottom: 2px solid $light-gray;

            .todo-list-column-text {
                float: right;
                margin: 30px 30px 0px 0px;
                font-size: 13px;
                font-weight: bold;
                color: $dark-gray;
            }

        }

        .todo-item-wrapper {
            padding: 5px;
        }
    }
}


/* todo item styles */

.todoItemConatiner {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    border-bottom: 1px solid $light-gray;
    cursor: pointer;
}
