@import '../App.scss';

/* todo list styles */

.todo-main-container {
    background-color: $white;
    padding-top: 50px;
    height: 100vh;

    .todo-list-wrapper {
        background-color: $white;
        border: 1px solid $light-gray;
        margin: auto;
        width: 60%;

        .tooo-list-header {
            padding: 0px 0px 20px 30px;
            border-bottom: 2px solid $light-gray;

            .todo-list-column-text {
                float: right;
                margin: 30px 30px 0px 0px;
                font-size: 13px;
                font-weight: bold;
                color: $dark-gray;
            }

        }

        .todo-item-wrapper {
            padding: 5px;
        }
    }
}


/* todo item styles */

.todoItemConatiner {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    border-bottom: 1px solid $light-gray;
    cursor: pointer;
}

.task-modal {
    width: 400px;
    background-color: $white-gray;
    position: absolute;
    border-radius: 4px;
    border: 1px solid $dark-gray;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    transform: translate(-50%, -50%);

    .modal-header {
        padding: 10px;
        border-bottom: 1px solid $light-gray;
        font-size: 18px;
        font-weight: 700;
    }

    .modal-body {
        padding: 20px;
        background-color: $white;

        .form-control{
            width: 100%;
            margin-bottom: 20px;
        }
    }

    .modal-footer{
        text-align: right;
        border-top: 1px solid $light-gray;
        padding: 10px;

        .close-btn {
            border: 1px solid $light-gray;
            margin-right: 5px;
            color: $dark-gray;
        }
    }
}