$info-blue: #00BCD4;
$sky-blue: #24a0ed;
$white: #FFFFFF;
$ash-gray: #888;
$dark-gray: #A0A0A0;
$light-gray: #D0D0D0;
$white-gray: #F4F5F1;
$error-red: #ff3838;
$light-pink: #fcc2c9;
$white-pink: #fce4e4;
$red: #dc3545;
$yellow: #d39e00;
$green: #28a745;
$light-green: #5cb85c;